{
	http_port 8080
	https_port 8443
}

localhost {
	@json {
		path_regexp json \.json$
	}
	reverse_proxy / https://localhost:9000
	tls public.crt private.key
	header @json Content-Type application/json
	file_server
}
